.pb20px {
    padding-bottom: 20px;
}
@media (min-width: 1025px) {
    .whb-top-bar-inner {
        height: 0px;
    }

    .whb-general-header-inner {
        height: 104px;
    }

    .whb-header-bottom-inner {
        height: 50px;
    }

    .whb-sticked .whb-top-bar-inner {
        height: 40px;
    }

    .whb-sticked .whb-general-header-inner {
        height: 60px;
    }

    .whb-sticked .whb-header-bottom-inner {
        height: 50px;
    }

    /* HEIGHT OF HEADER CLONE */
    .whb-clone .whb-general-header-inner {
        height: 50px;
    }

    /* HEADER OVERCONTENT */
    .woodmart-header-overcontent .title-size-small {
        padding-top: 176px;
    }

    .woodmart-header-overcontent .title-size-default {
        padding-top: 216px;
    }

    .woodmart-header-overcontent .title-size-large {
        padding-top: 256px;
    }

    /* HEADER OVERCONTENT WHEN SHOP PAGE TITLE TURN OFF  */
    .woodmart-header-overcontent .without-title.title-size-small {
        padding-top: 156px;
    }

    .woodmart-header-overcontent .without-title.title-size-default {
        padding-top: 191px;
    }

    .woodmart-header-overcontent .without-title.title-size-large {
        padding-top: 216px;
    }

    /* HEADER OVERCONTENT ON SINGLE PRODUCT */
    .single-product .whb-overcontent:not(.whb-custom-header) {
        padding-top: 156px;
    }

    /* HEIGHT OF LOGO IN TOP BAR */
    .whb-top-bar .woodmart-logo img {
        max-height: 0px;
    }

    .whb-sticked .whb-top-bar .woodmart-logo img {
        max-height: 40px;
    }

    /* HEIGHT OF LOGO IN GENERAL HEADER */
    .whb-general-header .woodmart-logo img {
        max-height: 104px;
    }

    .whb-sticked .whb-general-header .woodmart-logo img {
        max-height: 60px;
    }

    /* HEIGHT OF LOGO IN BOTTOM HEADER */
    .whb-header-bottom .woodmart-logo img {
        max-height: 50px;
    }

    .whb-sticked .whb-header-bottom .woodmart-logo img {
        max-height: 50px;
    }

    /* HEIGHT OF LOGO IN HEADER CLONE */
    .whb-clone .whb-general-header .woodmart-logo img {
        max-height: 50px;
    }

    /* HEIGHT OF HEADER BUILDER ELEMENTS */
    /* HEIGHT ELEMENTS IN TOP BAR */
    .whb-top-bar .wd-tools-element>a,
    .whb-top-bar .main-nav .item-level-0>a,
    .whb-top-bar .whb-secondary-menu .item-level-0>a,
    .whb-top-bar .categories-menu-opener,
    .whb-top-bar .menu-opener,
    .whb-top-bar .whb-divider-stretch:before,
    .whb-top-bar form.woocommerce-currency-switcher-form .dd-selected,
    .whb-top-bar .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 0px;
    }

    .whb-sticked .whb-top-bar .wd-tools-element>a,
    .whb-sticked .whb-top-bar .main-nav .item-level-0>a,
    .whb-sticked .whb-top-bar .whb-secondary-menu .item-level-0>a,
    .whb-sticked .whb-top-bar .categories-menu-opener,
    .whb-sticked .whb-top-bar .menu-opener,
    .whb-sticked .whb-top-bar .whb-divider-stretch:before,
    .whb-sticked .whb-top-bar form.woocommerce-currency-switcher-form .dd-selected,
    .whb-sticked .whb-top-bar .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 40px;
    }

    /* HEIGHT ELEMENTS IN GENERAL HEADER */
    .whb-general-header .whb-divider-stretch:before,
    .whb-general-header .navigation-style-bordered .item-level-0>a {
        height: 104px;
    }

    .whb-sticked:not(.whb-clone) .whb-general-header .whb-divider-stretch:before,
    .whb-sticked:not(.whb-clone) .whb-general-header .navigation-style-bordered .item-level-0>a {
        height: 60px;
    }

    .whb-sticked:not(.whb-clone) .whb-general-header .woodmart-search-dropdown,
    .whb-sticked:not(.whb-clone) .whb-general-header .dropdown-cart,
    .whb-sticked:not(.whb-clone) .whb-general-header .woodmart-navigation:not(.vertical-navigation):not(.navigation-style-bordered) .sub-menu-dropdown {
        margin-top: 10px;
    }

    .whb-sticked:not(.whb-clone) .whb-general-header .woodmart-search-dropdown:after,
    .whb-sticked:not(.whb-clone) .whb-general-header .dropdown-cart:after,
    .whb-sticked:not(.whb-clone) .whb-general-header .woodmart-navigation:not(.vertical-navigation):not(.navigation-style-bordered) .sub-menu-dropdown:after {
        height: 10px;
    }

    /* HEIGHT ELEMENTS IN BOTTOM HEADER */
    .whb-header-bottom .wd-tools-element>a,
    .whb-header-bottom .main-nav .item-level-0>a,
    .whb-header-bottom .whb-secondary-menu .item-level-0>a,
    .whb-header-bottom .categories-menu-opener,
    .whb-header-bottom .menu-opener,
    .whb-header-bottom .whb-divider-stretch:before,
    .whb-header-bottom form.woocommerce-currency-switcher-form .dd-selected,
    .whb-header-bottom .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 50px;
    }

    .whb-header-bottom.whb-border-fullwidth .menu-opener {
        /* height: 52px; */
        margin-top: -1px;
        margin-bottom: -1px;
    }

    .whb-header-bottom.whb-border-boxed .menu-opener {
        height: 51px;
        margin-top: -1px;
        margin-bottom: -1px;
    }

    .whb-sticked .whb-header-bottom .wd-tools-element>a,
    .whb-sticked .whb-header-bottom .main-nav .item-level-0>a,
    .whb-sticked .whb-header-bottom .whb-secondary-menu .item-level-0>a,
    .whb-sticked .whb-header-bottom .categories-menu-opener,
    .whb-sticked .whb-header-bottom .whb-divider-stretch:before,
    .whb-sticked .whb-header-bottom form.woocommerce-currency-switcher-form .dd-selected,
    .whb-sticked .whb-header-bottom .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 50px;
    }

    .whb-sticked .whb-header-bottom.whb-border-fullwidth .menu-opener {
        height: 52px;
    }

    .whb-sticked .whb-header-bottom.whb-border-boxed .menu-opener {
        height: 51px;
    }

    .whb-sticky-shadow.whb-sticked .whb-header-bottom .menu-opener {
        height: 51px;
        margin-bottom: 0;
    }

    /* HEIGHT ELEMENTS IN HEADER CLONE */
    .whb-clone .wd-tools-element>a,
    .whb-clone .main-nav .item-level-0>a,
    .whb-clone .whb-secondary-menu .item-level-0>a,
    .whb-clone .categories-menu-opener,
    .whb-clone .menu-opener,
    .whb-clone .whb-divider-stretch:before,
    .whb-clone .navigation-style-bordered .item-level-0>a,
    .whb-clone form.woocommerce-currency-switcher-form .dd-selected,
    .whb-clone .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 50px;
    }
}

@media (max-width: 1024px) {
    .whb-top-bar-inner {
        height: 0px;
    }

    .whb-general-header-inner {
        height: 60px;
    }

    .whb-header-bottom-inner {
        height: 50px;
    }

    /* HEIGHT OF HEADER CLONE */
    .whb-clone .whb-general-header-inner {
        height: 60px;
    }

    /* HEADER OVERCONTENT */
    .woodmart-header-overcontent .page-title {
        padding-top: 127px;
    }

    /* HEADER OVERCONTENT WHEN SHOP PAGE TITLE TURN OFF  */
    .woodmart-header-overcontent .without-title.title-shop {
        padding-top: 112px;
    }

    /* HEADER OVERCONTENT ON SINGLE PRODUCT */
    .single-product .whb-overcontent:not(.whb-custom-header) {
        padding-top: 112px;
    }

    /* HEIGHT OF LOGO IN TOP BAR */
    .whb-top-bar .woodmart-logo img {
        max-height: 0px;
    }

    /* HEIGHT OF LOGO IN GENERAL HEADER */
    .whb-general-header .woodmart-logo img {
        max-height: 60px;
    }

    /* HEIGHT OF LOGO IN BOTTOM HEADER */
    .whb-header-bottom .woodmart-logo img {
        max-height: 50px;
    }

    /* HEIGHT OF LOGO IN HEADER CLONE */
    .whb-clone .whb-general-header .woodmart-logo img {
        max-height: 60px;
    }

    /* HEIGHT OF HEADER BULDER ELEMENTS */
    /* HEIGHT ELEMENTS IN TOP BAR */
    .whb-top-bar .wd-tools-element>a,
    .whb-top-bar .main-nav .item-level-0>a,
    .whb-top-bar .whb-secondary-menu .item-level-0>a,
    .whb-top-bar .categories-menu-opener,
    .whb-top-bar .whb-divider-stretch:before,
    .whb-top-bar form.woocommerce-currency-switcher-form .dd-selected,
    .whb-top-bar .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 0px;
    }

    /* HEIGHT ELEMENTS IN GENERAL HEADER */
    .whb-general-header .wd-tools-element>a,
    .whb-general-header .main-nav .item-level-0>a,
    .whb-general-header .whb-secondary-menu .item-level-0>a,
    .whb-general-header .categories-menu-opener,
    .whb-general-header .whb-divider-stretch:before,
    .whb-general-header form.woocommerce-currency-switcher-form .dd-selected,
    .whb-general-header .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 60px;
    }

    /* HEIGHT ELEMENTS IN BOTTOM HEADER */
    .whb-header-bottom .wd-tools-element>a,
    .whb-header-bottom .main-nav .item-level-0>a,
    .whb-header-bottom .whb-secondary-menu .item-level-0>a,
    .whb-header-bottom .categories-menu-opener,
    .whb-header-bottom .whb-divider-stretch:before,
    .whb-header-bottom form.woocommerce-currency-switcher-form .dd-selected,
    .whb-header-bottom .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 50px;
    }

    /* HEIGHT ELEMENTS IN HEADER CLONE */
    .whb-clone .wd-tools-element>a,
    .whb-clone .main-nav .item-level-0>a,
    .whb-clone .whb-secondary-menu .item-level-0>a,
    .whb-clone .categories-menu-opener,
    .whb-clone .menu-opener,
    .whb-clone .whb-divider-stretch:before,
    .whb-clone form.woocommerce-currency-switcher-form .dd-selected,
    .whb-clone .whb-text-element .wcml-dropdown a.wcml-cs-item-toggle {
        height: 60px;
    }
}

.whb-top-bar {
    background-color: rgba(109, 80, 71, 1);
    border-bottom-style: solid;
}

.whb-general-header {
    border-color: rgba(129, 129, 129, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.whb-gp52f6kmxv7oobbfe7ka .menu-opener {
    border-bottom-style: solid;
}

.whb-gp52f6kmxv7oobbfe7ka.wd-more-cat:not(.wd-show-cat) .item-level-0:nth-child(n+6):not(:last-child) {
    display: none;
}

.wd-more-cat .item-level-0:nth-child(n+6) {
    animation: wd-fadeIn .3s ease both;
}

.wd-show-cat .wd-more-cat-btn {
    display: none;
}

.whb-header-bottom {
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(129, 129, 129, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
/* for checkout div start */
.cart-totals-section, .checkout-order-review {
    z-index: 99 !important;
}
/* for checkout div end */
/* for navigation start */
header.whb-header.whb-sticky-shadow.whb-scroll-stick.whb-sticky-real .sub-menu-dropdown.color-scheme-dark {
    min-height: 670px;
}
/* for navigation end */


.pb-40{
    padding-bottom: 40px;
}
.pb-0{
    padding-bottom: 0 !important;
}

.cart-widget-side > .widget_shopping_cart > .widget_shopping_cart_content > .shopping-cart-widget-footer > .woocommerce-mini-cart__buttons > .btn-cart {
    background-color: #ed2227 !important;
    color: #FFFFFF;
}

.hotspot-content .add_to_cart_button, .hotspot-content .product_type_variable, td.woocommerce-orders-table__cell-order-actions a, .popup-quick-view .woodmart-scroll-content > a, .woodmart-sticky-add-to-cart, .popup-added_to_cart .view-cart, .widget_shopping_cart .buttons .checkout, .woodmart-hover-base:not([class*="add-small"]) .wd-bottom-actions .woodmart-add-btn > a, .product-list-item .woodmart-add-btn > a, .woodmart-hover-standard .woodmart-add-btn > a, .single_add_to_cart_button, .checkout_coupon .button, #place_order, .cart-totals-inner .checkout-button, .cart-actions .button[name="apply_coupon"], .register .button, .login .button, .lost_reset_password .button, .social-login-btn > a, .woocommerce-MyAccount-content > .button, .order-again .button, .woocommerce-Button--next, .woocommerce-Button--previous, .woocommerce-MyAccount-downloads-file, .account-payment-methods-table .button, button[name="save_account_details"], button[name="save_address"], button[name="track"], .woodmart-compare-col .button, .woodmart-compare-col .added_to_cart, .return-to-shop .button, .woodmart-pf-btn button, table.wishlist_table .product-add-to-cart a.button.add_to_cart, #dokan-store-listing-filter-wrap .right .item .dokan-btn-theme, .woocommerce-MyAccount-content .dokan-btn-theme, #dokan-store-listing-filter-form-wrap .apply-filter #apply-filter-btn, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button {
    background-color: #ed2227 !important;
}